git+https://github.com/viperadnan-git/sonicbit-python-sdk.git
python-dotenv
feedparser
requests
pymongo
nanoid
apscheduler
humanize
click
bencode.py
google-auth
google-api-python-client
parse-torrent-title